body{
    background-image: url("./fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.puzzleBox{

    margin: auto;
    padding: 20px;
    background-color: #b6b6b6;
    width: 400px;
    height: 400px;
    margin-top: 50px;

}
button{
width: 100px;
height: 100px;
background-color: #000000b4;
border: 1px solid black;
color: white;

}
.controlButtons{
    text-align: center;
    
}
.instruction{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}
.moveCounter{
    position: absolute;
    top: 20px;
    left: 40px;
    color: white;
    text-align: center;
}