*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #f9f9f9;
}
header{
    width:100%;
    background-color:rgb(71, 67, 67);
    color: white;
    position: fixed;
    top: 0px;
}

.logo{
    padding: 20px;
}
.menu{
    position: absolute;
    top: 35px;
    right:5%;
}
.menu a{
    text-decoration: none;
    color: #f3bb95;
    padding: 10px;
}
.menu a:hover{
    color: #d4d3d3;
}

.effects img{
    position: absolute;
    width: 55%;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: none;

}
.alertBox{
    margin-top: 100px;
    text-align: center;
}
.counters{
    margin-top: 30px;
    display:flex;
}

.counters ,.moves,.cronometro,.bestRecord{
    padding: 10px;
    margin: auto;
    text-align: center;
}
.counters h3{
    padding-bottom: 5px;
}
.puzzleBox{
    margin: auto;
    background-color:rgb(61, 43, 35);
    width: 40%;
    height:50vh;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.puzzleBox button{
height: 25%;
width: 25%;
background-color: rgba(26, 9, 1, 0.363);
border: 1px solid rgb(194, 194, 194);
color: white;
font-size: 20px;

}
.controlButtons {
    text-align: center;
}
button a{
    padding: 20px;
}
.controlButtons button{
    padding: 15px;
    background-color: rgb(47, 34, 28);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    outline: none;
}
.content{
    margin: auto;
    margin-top: 150px;
    text-align: center;
    width: 70%;
}
.content h1{
    font-size: 50px;
    font-family: 'Bitter', serif;
    color: #e88747;
    padding: 50px 0px 50px 0px;

}
.content p{
    margin: 50px 0px 50px 0px;
    text-align: justify;
}
.content img{
    margin: 30px 0px 70px 0px;
    width: 80%;
}
.content video{
    margin:70px 0px 70px 0px ;
    padding: 10px;
    background-color: rgb(95, 76, 76);
    width: 80%;
}
.content p{
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.foot{
    background-color:#c1d7f1;
    height: 150px;
    margin-top: 120px;
    
}
.foot h4, h3{
padding-left: 20px;
}
.foot h3{
    padding-top:30px;
}
.foot img{
    margin-top: 40px;
    float: right;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
.logo img{
    width: 150px;
}
.menu {
    top: 30px;
    font-size: 14px;
}
.content{
    width: 95%;
}
.content video{
    width: 90%;
}
.content img{
    width: 90%;
}
  .puzzleBox{
      width: 90%;
      padding: 5px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .controlButtons button{
        padding: 10px;
        outline: none;
        font-size: 15px;
    }
    .up{
       display: none;
    }
    .foot img{
        display: none;
    }
    .effects img{
        width: 100%;
    }
    
  }

