*{
    padding: 0px;
    margin: 0px;
}
header{
    width:100%;
    height:100px;
    background-color: rgb(78, 56, 56);
    color: white;
}
.logo{
    padding: 30px;
    display: inline;
}
.content{
    text-align: center;
    padding:0px 20%;
}
.puzzleBox{
    margin: auto;
    background-color: #b6b6b6;
    width: 60%;
    height:60vh;
    margin-top: 50px;

}

.puzzleBox button{
height: 25%;
width: 25%;
background-color: #000000b4;
border: 1px solid black;
color: white;
font-size: 20px;

}
.controlButtons {
    text-align: center;
}

.controlButtons button{
    padding: 15px;
    background-color: #000000b4;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    outline: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  .puzzleBox{
      width: 100%;
    }
  }