*{
    padding: 0px;
    margin: 0px;
}
header{
    width:100%;
    background-color:rgb(53, 53, 53);
    color: white;
}
.logo{
    padding: 30px;
}
.content{
    position: absolute;
    width: 200px;
    height: 300px;
    background-size: cover;
}
.counters{
    margin-top: 100px;
    display:flex;
}

.moves{
    padding: 10px;
    margin: auto;
    text-align: center;
}
.cronometro{
    padding: 10px;
    margin: auto;
    text-align: center;
}
.puzzleBox{
    margin: auto;
    background-color: rgb(53, 53, 53);
    width: 40%;
    height:50vh;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.puzzleBox button{
height: 25%;
width: 25%;
background-color: #00000050;
border: 1px solid rgb(194, 194, 194);
color: white;
font-size: 20px;

}
.controlButtons {
    text-align: center;
}

.controlButtons button{
    padding: 15px;
    background-color: #000000e1;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    outline: none;
}

.foot{
    background-color:#c1d7f1;
    height: 80px;
    margin-top: 120px;
    
}
.foot h4{
padding-top: 30px;
padding-left: 20px;
}
.foot img{
    position: absolute;
    right: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  .puzzleBox{
      width: 95%;
    }
  }

