*{
    padding: 0px;
    margin: 0px;
 
}

header{
    width:100%;
    background-color:rgb(53, 53, 53);
    color: white;
    position: fixed;
    top: 0px;
}

.logo{
    padding: 30px;
}
.menu{
    position: absolute;
    top: 40px;
    right:5%;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.menu a:hover{
    color: #d4d3d3;
}


.effects img{
    position: absolute;
    width: 55%;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: none;

}
.alertBox{
    margin-top: 100px;
    text-align: center;
}
.counters{
    margin-top: 30px;
    display:flex;
}

.moves{
    padding: 10px;
    margin: auto;
    text-align: center;
}
.cronometro{
    padding: 10px;
    margin: auto;
    text-align: center;
}
.puzzleBox{
    margin: auto;
    background-color: rgb(53, 53, 53);
    width: 40%;
    height:50vh;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.puzzleBox button{
height: 25%;
width: 25%;
background-color: #00000050;
border: 1px solid rgb(194, 194, 194);
color: white;
font-size: 20px;

}
.controlButtons {
    text-align: center;
}

.controlButtons button{
    padding: 15px;
    background-color: #000000e1;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    outline: none;
}
.content{
    margin: auto;
    margin-top: 200px;
    text-align: center;
    width: 70%;
}
.content p{
    margin: 50px 0px 50px 0px;
    text-align: justify;
}
.content img{
    margin: 30px 0px 70px 0px;
    width: 80%;
}
.content video{
    margin:70px 0px 70px 0px ;
    padding: 10px;
    background-color: rgb(95, 76, 76);
    width: 80%;
}
.content p{
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.foot{
    background-color:#c1d7f1;
    height: 80px;
    margin-top: 120px;
    
}
.foot h4{
padding-top: 30px;
padding-left: 20px;
}
.foot img{
    position: absolute;
    right: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
.content{
    width: 95%;
}
.content video{
    width: 90%;
}
.content img{
    width: 90%;
}
  .puzzleBox{
      width: 90%;
      padding: 5px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .controlButtons button{
        padding: 10px;
        outline: none;
        font-size: 15px;
    }
    .foot img{
        display: none;
    }
    .effects img{
        width: 100%;
    }
  }

