body{
    background-image: url("./fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content{
    text-align: center;
    padding:0px 20%;
}
.puzzleBox{
    margin: auto;
    background-color: #b6b6b6;
    width: 80%;
    height:80vh;
    margin-top: 50px;

}

.puzzleBox button{
width: 25%;
height:25%;
background-color: #000000b4;
border: 1px solid black;
color: white;
font-size: 20px;

}
.controlButtons {
    text-align: center;
}

.controlButtons button{
    width: 150px;
    height: 50px;
    background-color: #000000b4;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  .puzzleBox{
      width: 100%;
    }
  }